apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
type: Opaque
data:
  username: cG9zdGdyZXM=      # base64 for 'postgres'
  password: cG9zdGdyZXM=      # base64 for 'postgres'
  database: YmFzaWMzdGllcg==  # base64 for 'db'


