apiVersion: apps/v1
kind: Deployment
metadata:
  name: result-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: result-app
  template:
    metadata:
      labels:
        app: result-app
    spec:
      containers:
      - name: result-container
        image: irene53179/result-app:latest
        ports:
        - containerPort: 80
        env:
          - name: PG_HOST
            value: postgres-service
          - name: PG_PORT
            value: "5432"

          - name: PG_USER
            valueFrom:
              secretKeyRef:
                name: postgres-secret
                key: username

          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgres-secret
                key: password
---
apiVersion: v1
kind: Service
metadata:
  name: result-service
spec:
  selector:
    app: result-app
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
  type: ClusterIP
