apiVersion: apps/v1
kind: Deployment
metadata:
  name: vote-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: voting-app
  template:
    metadata:
      labels:
        app: voting-app
    spec:
      containers:
      - name: vote-container
        image: irene53179/voting-app:latest
        ports:
        - containerPort: 80
        env:
          - name: REDIS_HOST
            value: redis-service
          - name: REDIS_PORT
            value: "6379"

        # Optional environment variable if using dynamic config
        # env:
        # - name: API_URL
        #   value: "http://api-service"
---
apiVersion: v1
kind: Service
metadata:
  name: vote-service
spec:
  selector:
    app: voting-app
  ports:
    - port: 80
      targetPort: 80
  type: ClusterIP
