apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker-app
  template:
    metadata:
      labels:
        app: worker-app
    spec:
      containers:
      - name: worker-container
        image: irene53179/worker-app:latest
        ports:
        - containerPort: 80
        env:
          - name: REDIS_HOST
            value: redis-service
          - name: REDIS_PORT
            value: "6379"
          - name: DB_HOST
            value: postgres-service
          - name: DB_PORT
            value: "5432"
          - name: DB_USER
            value: "postgres"
          - name: DB_Password
            value: "postgres"
        # Optional environment variable if using dynamic config
        # env:
        # - name: API_URL
        #   value: "http://api-service"

